<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Employee Form</title>
</head>
<body>
	<div align="center">
		<h2>Add Employee</h2>
		<form th:action="@{/saveEmp}" th:method="POST" th:object="${empobj}">
			<table>
				<tr>
					<th>Employee First Name:</th>
					<td><input type="text" th:field="${empobj.firstname}"
						placeholder="Employee firstname"></td>
				</tr>

				<tr>
					<th>Employee Last Name:</th>
					<td><input type="text" th:field="*{lastname}"
						placeholder="Employee lastname"></td>

				</tr>
				<tr>
					<th>Employee Email:</th>
					<td><input type="email" th:field="*{email}"
						placeholder="Employee email"></td>
				</tr>
				<tr>
					<th><button>Add</button></th>

				</tr>
			</table>
		</form>
	</div>
</body>
</html>